.burger-menu {
    display: block;

    @media (max-width: $md3) {
        display: block;

        position: absolute;
        top: 20px;
        right: 20px;

        width: 30px;
        height: 18px;

        cursor: pointer;
        z-index: 5;

        span {
            transition: all 0.3s ease 0s;
            border-radius: 2px;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }

        &._active {
            span {
                transition: all 0.3s ease 0s;
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: translateX(-50px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}