.popup {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    // Use if necessery
    // z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    
    &._visible {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}